.two-column-main {
  padding-top: 40px;
  @media #{$breakpoint-md-up} {
    padding-top: 80px;
  }
  h1 {
    margin-bottom: 25px;
    line-height: 65px;
  }
  .two-column-container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 60px;
    @media #{$breakpoint-md-up} {
      grid-template-columns: 1fr 1fr;
    }
  }
  .two-column__image {
    padding: 0px 60px 0px 40px;
    display: none;
    @media #{$breakpoint-md-up} {
      padding-right: 40px;
      display: block;
    }
  }
  .two-column__content {
    padding-right: 0px;
    @media #{$breakpoint-md-up} {
      padding-right: 40px;
    }
    iframe {
      max-width: 100%;
    }
  }
  .wp-block-contact-form-7-contact-form-selector {
    .wpcf7-form {
      label {
        width: 100%;
        margin-bottom: 25px;
        display: inline-block;
        font-size: 15px;
        input,
        select,
        textarea {
          width: 100%;
          border: none;
          background-color: #e9f0f7;
          min-height: 50px;
          font-weight: 900;
          font-size: 15px;
          padding: 0px 15px;
          color: $color__text;
          margin-top: 10px;
        }
        .wpcf7-form-control-wrap {
          width: 100%;
          display: inline-flex;
          select {
            -moz-appearance: none; /* Firefox */
            -webkit-appearance: none; /* Safari and Chrome */
            appearance: none;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10'%3E%3Cpath id='Polygon_2' data-name='Polygon 2' d='M5.5,0,11,10H0Z' transform='translate(11 10) rotate(180)' fill='%236d90b5'/%3E%3C/svg%3E%0A");
            background-position-x: 97%;
            background-position-y: 50%;
          }
        }
      }
      .privacy {
        font-size: 13px;
        color: #505050;
        a {
          color: $color__blue;
          font-size: 13px;
          &:hover {
            text-decoration: underline;
            color: $color__blue;
          }
        }
      }
      .wpcf7-submit {
        border: none;
        background: $color__link-hover;
        color: $color__bright;
        font-size: 15px;
        font-weight: 900;
        min-height: 50px;
        padding: 0px 20px;
        margin-bottom: 25px;
        &:hover {
          cursor: pointer;
          color: $color__bright;
          -webkit-box-shadow: 0px 10px 15px -7px #6d90b5;
          box-shadow: 0px 10px 15px -10px #6d90b5;
        }
      }
    }
  }
}
