.block-hero {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 520px;
  position: relative;
  @media #{$breakpoint-sm-up} {
    grid-template-columns: 1fr 1fr;
  }
  &__right {
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    display: none;
    @media #{$breakpoint-sm-up} {
      position: inherit;
      display: block;
    }
  }
  &__left {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media #{$breakpoint-sm-up} {
      padding: 0 2rem;
    }
    @media #{$breakpoint-md-up} {
      padding: 0 4rem;
    }
    h1,
    p {
      color: $color__bright;
    }
    h1 {
      font-size: 55px;
      @media #{$breakpoint-md-up} {
        font-size: 65px;
      }
    }
    p {
      line-height: 33px;
      @media #{$breakpoint-sm-up} {
        padding-right: 50px;
      }
    }
    .quote {
      font-style: italic;
      font-size: 30px;
      line-height: 45px;
      font-family: $header__fontname;
      margin-bottom: 35px;
      @media #{$breakpoint-sm-up} {
        padding-right: 130px;
      }
    }
    .author {
      font-size: 18px;
      margin-bottom: 15px;
    }
    .btn {
      align-self: flex-start;
      margin-top: 34px;
      text-transform: uppercase;
      span {
        margin-left: 15px;
      }
    }
  }
}

// SLIDER
#homeSlider {
  margin-left: 0;
  margin-right: 0;
  .swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    @media #{$breakpoint-sm-up} {
      padding: 2.5rem 2rem;
    }
    @media #{$breakpoint-md-up} {
      padding: 2.5rem 4rem;
    }

    .text {
      font-family: $header__fontname;
      color: $color__bright;
      z-index: 2;
      font-style: italic;
      font-size: 70px;
      text-align: right;
      line-height: 70px;
    }
  }
}
